body {
  font-family: "Lucida Grande", "Segoe UI", "Roboto", "Helvetica", sans-serif;
  background-color: #fff;
  color: #000;
}

main {
  padding-left: auto;
  padding-right: auto;
}

header {
  text-align: center;
}

button, input {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 2px 5px 2px 5px;
}

hr {
  border: 1px solid #ddd;
}

.tile {
  color: #000;
  height: 70px;
  width: 70px;
  padding: 0px;
  margin: 0px;
  border: 1px solid #000000;
  border-radius: 20px;
  text-align: center;
  font-size: 400%;
  line-height: 60px;
}

#side-guide tr td,
#top-guide td {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #000000;
}

#side-guide tr td {
  width: 20px;
  height: 70px;
  line-height: 60px;
}

#top-guide td {
  width: 68px;
  height: 20px;
  line-height: 20px;
}

.sidebar {
  float: right;
}

#whiteCaptured,
#blackCaptured {
  font-size: 30px;
  margin: 0px;
}

/* Checkerboard the table */
.row .tile {
  background-color: #fff;
}

.row:nth-child(even) .tile:nth-child(odd),
.row:nth-child(odd) .tile:nth-child(even) {
  background-color: #ddd;
}
